<% if signed_in? %>
	<div class="row">
		<aside class="span4">
			<section>
				<%= render 'shared/user_info' %>
			</section>
			<section>
				<%= render 'shared/stats' %>
			</section>
			<section>
				<%= render 'shared/micropost_form', :locals => { :micropost => new_micropost } %>
			</section>
			<section>
				<%= render 'shared/recent_activity', :locals => { :activities => recent_activity } %>
			</section>
		</aside>
		<div class="span7 david_trends_bg">
			<% provide(:title, 'Trending now') %>
			<h3>Trending now</h3>
			<%= render 'shared/trending' %>
	    </div>
	</div>  
<% else %>
	<div class="span4">
	<div class="center">
		<div class="david_unit">
			<h1 class="h_nice">Asia Fan</h1>
			<p class="david_blue">Where enthusiasts of the Asian scene can post and share</p>
			<%= link_to "Sign In", signin_path, class: "btn btn-large submit_button"%>
			<%= link_to "Join Asia Fan!", signup_path, class: "btn btn-large submit_button_green", id: :pop %>
			<%= render 'shared/carousel_icon' %>
		</div>
		<p class="h_nice white">2ne1. Big Bang. Andy Lau. Integra Type R's. Squash Air Spencers. Pho. Dim Sum. Pocky. Travel. And everything in-between. <br>
		<%= link_to "- About Us -", about_path, :class => "h_nice white" %></p>

	</div>
	</div>
<% end %> 