<% provide(:title, 'Asia Fans') %>
<div class="row">
	<aside class="span4">
		<section>
			<%= render 'shared/user_info' %>
		</section>
		<section>
			<%= render 'shared/stats' %>
		</section>
	
		<section>
			<%= render 'shared/recent_activity', :locals => { :activities => recent_activity } %>
		</section>
	</aside>
	<div class="span7 david_trends_bg">
		<h1>Asia Fans</h1>
		<%= will_paginate %>
		<ul class="users david_trends_bg">
		  <%= render @users %>
		</ul>
		<%= will_paginate %>
	</div>  
</div>