<a href="<%= user_path(current_user) %>">
<%= image_tag current_user.avatar.url(:thumb), :class => "avatar" %>
</a>
<h1>
	<%= current_user.user_name %>
</h1>
<% if current_user.quote %>
	<div class="quote">
		<%= current_user.quote %>
	</div>
<% end %>
<span>
	<%= link_to "View my profile", current_user %>
</span>