<li class="content_list" id="<%= micropost.id %>">
	<div>
		<%= link_to image_tag(micropost.user.avatar.url(:thumb),:class => "avatar"), micropost.user %>
	</div>
	<div class="bubble">
		<span class="user">
			<%= link_to micropost.user.user_name, micropost.user %>
		</span>
		<div class="content_feed_post">
			<% if !micropost.tag_list.blank? %>
				<div class="tag">
					<i class="icon-tag"></i> <%= raw micropost.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
				</div>
			<% end %>
			<span class="micropost_content"><%= simple_format(micropost.content) %></span>
			<% if micropost.post_image_file_name %>
				<div class="post_image_thumb"><%= link_to image_tag(micropost.post_image.url(:medium)), micropost.post_image.url %></div>
			<% end %>
			<div class="timestamp"> 
				Posted <%= time_ago_in_words(micropost.created_at) %> ago.
				<!-- ***** FORM FOR LIKE / THUMBS UP ***** -->
				<%= form_for Like.new, :html => { :class => "button_like", :multipart => true } do |l| %>
					<%= l.hidden_field :user_id, :value => current_user.id %>
					<%= l.hidden_field :micropost_id, :value => micropost.id %>
					<button type="submit" class="button_like"><i class="icon-heart icon-large"></i> <%= micropost.likes.count%></button>
				<% end %>
			</div>
			<% if current_user?(micropost.user) or current_user.admin? %>
				<div>
					<%= link_to "Delete", micropost, method: :delete,
								                     class: 'david_red',
								                     data: { confirm: "You sure you want to delete this post by #{micropost.user.user_name}?" },
								                     title: micropost.content %>
				</div>
			<% end %>
		</div>
	</div>
	<div class="clear"></div>	
	<!-- ***** SHOW COMMENTS ***** -->
	<div class="content_feed_post_comment">
		<% micropost.comments.order("created_at desc").each do |comment| %>
			<span>
				<%= link_to image_tag(comment.user.avatar.url(:tiny),:class => "avatar_comment"), comment.user %>
			</span>
			<div class="bubble_comment">
				<div class="comment_user"><%= link_to comment.user.user_name, comment.user %></div>
					<% if !comment.tag_list.blank? %>
						<div class="tag">
							<i class="icon-tag"></i> <%= raw comment.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
						</div>
					<% end %>
					<%= simple_format(comment.content) %>
					<% if !comment.comment_image_file_name.blank?%>
						<br><%= link_to image_tag(comment.comment_image.url(:medium)), comment.comment_image.url %><br/>
					<% end %>
					<div class="timestamp">Posted <%= time_ago_in_words(comment.updated_at)%> ago. 
						<!-- ***** FORM FOR LIKE / THUMBS UP ***** -->
						<%= form_for Like.new, :html => { :class => "button_like", :multipart => true } do |l| %>
							<%= l.hidden_field :user_id, :value => current_user.id %>
							<%= l.hidden_field :comment_id, :value => comment.id %>
							<button type="submit" class="button_like"><i class="icon-heart icon-large"></i> <%= comment.likes.count%></button>
						<% end %>
						<% if current_user?(comment.user) or current_user.admin? %>
							<div>
								<%= link_to "Delete", comment, method: :delete,
											                     class: 'david_red',
											                     data: { confirm: "You sure you want to delete this comment by #{comment.user.user_name}?" },
											                     title: comment.content %>
							</div>
						<% end %>
					</div>
			</div> <!-- end bubble_comment -->
					
		<div class="clear"></div>
		<% end %>
	</div>
	<div class="clear"></div>
	<!-- ******* FORM FOR COMMENTS ******* -->
	<button class="comment_button"><i class="icon-edit icon-2x"></i> <i class="icon-camera icon-2x"></i></button>
	<div class="comment_field">
		<%= form_for Comment.new, :html => { :multipart => true } do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		<%= f.hidden_field :user_id, :value => current_user.id %>
		<%= f.hidden_field :micropost_id, :value => micropost.id %>
		<div class="field">
			<div class="input-prepend">
				<span class="add-on"><i class="icon-tag"></i></span><%= f.text_field :tag_list, placeholder: "#tags, #2ne1, #bigbang etc..." %><%= f.label :tag_list, "Separate tags with commas" %>
			</div>
			<%= f.text_area :content, placeholder: "Comment on this..."%>
			<%= f.label :comment_image, "Upload a comment image" %>
			<i class="icon-camera icon-2x"></i>
			<%= f.file_field :comment_image %>
			<%= f.label :comment_image_remote_url, "or select from URL" %>
			<%= f.text_field :comment_image_remote_url, placeholder: 'image url... http://...' %>
			<%= f.submit "Comment", class: "btn btn-large submit_button" %>
			<button class="cancel_comment btn btn-large submit_button_red">Cancel</button>
		</div>
		<% end %>
	</div>
</li>
<div class="clear"></div>