<!DOCTYPE html>
<html>
<head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/meta_info' %>
    <%= render 'layouts/shim' %>
    <% if !signed_in? %>
        <style type="text/css">
        body {
            background: url(<%= randomized_background_image %>) no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        </style>
    <% end %>
</head>
<body >
    <% if !signed_in? %>
        <!-- <div class="david_container_bg_image" style="padding-top: 20px;"> -->
        <div style="padding-top: 10px;">
    <% end %>
    <% if signed_in? %>
        <%= render 'layouts/header' %>
        <div class="container" style="margin-top: -20px; padding-top: 90px;">
    <% end %>
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>
    </div> <!-- end container -->
</body>
</html>